@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
:root {
    --color-white: #fff;
    --color-darkOrange: #cc3507;
    --color-black: rgb(0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.top {
    width: 100%;
    height: 70px;
    background-color: deepskyblue;
    display: flex;
}

.navigation {
    color: white;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    list-style-type: none;
    margin: 0%;
}

.navigation li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    transition: all .7s ease-out;
}

.navigation li:hover {
    color: black;
}

.profile {
    margin-right: 10px;
    color: white;
    margin-left: auto;
    line-height: 70px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
}

.sidebar {
    margin-left: 0;
    width: 20%;
    background-color: #023c7e;
    height: Calc(100vh - 70px);
    position: relative;
    display: inline-block;
}

.options {
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    transition: all .7s ease-out;
}

.options:hover {
    background-color: #002d61;
    cursor: pointer;
}

.bstick {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sidebar-main-right {
    background-color: var(--color-white);
    width: 70%;
    margin-left: 20mm;
    margin-top: 10mm;
    height: Calc(100vh - 120px);
    position: absolute;
    display: inline-block;
    /* overflow-y: scroll; */
}

.container {
    /* margin-top: 5%; */
    /* margin-left: 14%; */
    background: var(--color-white);
    padding: 0;
    border-radius: 7px;
    top: 15%;
    width: 100%;
    height: 100%;
    /* border-right: none; */
    border-top: 1px solid var(--color-darkOrange);
    border-bottom: 1px solid var(--color-darkOrange);
    border-left: 1px solid var(--color-darkOrange);
}

.button-handler {
    display: flex;
    width: 72%;
}

.userlist li {
    margin: 10px 0;
}

.list-users.show {
    list-style: none;
    position: fixed;
    display: block;
    background-color: var(--color-white);
    width: 50%;
    left: 25%;
    border-radius: 10px;
    opacity: 1 !important;
}

.profile-image {
    width: 50px;
    height: 43px;
    border-radius: 50%;
    position: inherit;
}

.selected {
    height: 47px;
    width: 58px;
    margin-right: 12px;
    padding-left: 0;
    margin-left: 0;
}

.clicked-user {
    display: flex;
    align-items: center;
}

#logo {
    width: 10%;
    height: 100%;
}

.settings-tray {
    background: var(--color-white);
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid brown;
}

.settings-tray .no-gutters {
    padding: 10px;
    /* display: flex; */
}

.settings-tray--right {
    float: right;
    display: block;
}

.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    -webkit-transition: .3s;
    transition: .3s;
}

.settings-tray--right i:hover {
    color: #74b9ff;
    cursor: pointer;
}

.search-box {
    background: var(--color-white);
    display: flex;
    padding: 21px 13px;
    align-items: center;
    border: 1px solid brown;
}

.search-box .input-wrapper {
    /* background: var(--color-white); */
    border-radius: 40px;
    padding: 4px 0;
}

.search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
}

input {
    border: none;
    /* border-radius: 30px; */
    width: 80%;
}

input[type="text"]:focus {
    background-color: var(--color-white);
}

input::-webkit-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input:-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input::-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input::placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.list {
    overflow-y: scroll;
    width: 100%;
    height: calc(65vh - 30px);
    background: var(--color-white);
}

.add-button {
    text-align: center;
}

.add {
    width: 25%;
    padding: 5px;
    margin: 5px;
    left: 30%;
    height: 5%;
    background-color: var(--color-darkOrange);
    color: var(--color-white);
    font-weight: 500;
}

.add:hover {
    border: 1px var(--color-darkOrange) solid;
    transition: all .7s ease-out;
}

.close {
    width: 50px;
    margin-left: 80%;
    border: none;
    height: 30px;
}

.addIcon {
    align-items: center;
    margin-left: 8px;
    padding-top: 2px;
    color: var(--color-white);
    background-color: var(--color-darkOrange);
    border-radius: 5px;
    font-size: 1.4px;
}


/* .addIcon:hover {
    background-color: var(--color-white);
    color: var(--color-darkOrange);
} */

#open-useradd:hover,
#close-useradd:hover {
    background-color: var(--color-white);
    color: rgb(40, 40, 116);
}

.list-users {
    list-style: none;
    display: none;
    opacity: 1 !important;
    border: 1px solid;
    height: 40vh;
    overflow-y: scroll;
    z-index: 1000;
}

.show div {
    padding: 4px 5px;
    text-align: left;
    opacity: 1 !important;
}

#userlist {
    /* margin-top: -40px; */
}

#userlist li {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    cursor: pointer;
    color: var(--color-black);
    font-size: 18px;
}

#userlist li:hover {
    background-color: var(--color-white);
    transition: all .7s ease-out;
}

.friend-drawer {
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: baseline;
    background: var(--color-white);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    align-items: center;
}

.friend-drawer--grey {
    background: var(--color-white);
}

.friend-drawer .text {
    margin-left: 12px;
    width: 100%;
}

.friend-drawer .text h6 {
    margin-top: 6px;
    margin-bottom: 0;
}

.friend-drawer .text p {
    margin: 0;
}

.friend-drawer .time {
    color: grey;
}

.text h4 {
    font-family: 'Urbanist', sans-serif;
    color: var(--color-darkOrange);
    margin-bottom: 0;
    font-size: 18px;
}

.text h5 {
    margin: 0;
    padding: 0;
    color: rgb(34, 32, 32);
}

.friend-drawer--onhover:hover {
    background: #aed4eb;
    cursor: pointer;
}

.chat-panel {
    height: 51vh !important;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
    color: var(--color-white) !important;
}

.chatspace {
    height: 380px !important;
    overflow-y: scroll;
}

.chat-bubble {
    padding: 9px 14px;
    background: var(--color-white);
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left {
    width: 18%;
    border: 1px solid var(--color-black);
}

.chat-bubble--left:after {
    left: 0;
    border-right-color: var(--color-black);
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right {
    width: 18%;
    margin-left: 78%;
}

.chat-bubble--right:after {
    right: 0;
    border-left-color: 1px solid var(--color-black);
    border-right: 0;
    margin-right: -20px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    /* background: var(--color-darkOrange); */
    border: 1px solid var(--color-black);
    color: var(--color-black);
}

.chat-box-tray {
    background: var(--color-white);
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    flex: 0.97;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 8 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* margin-top: 15px; */
    bottom: 0;
}

.chat-box-tray input {
    margin: 0;
    padding: 6px 2px;
}

.chat-box-tray i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    vertical-align: middle;
}

.chat-box-tray i:last-of-type {
    margin-left: 25px;
}

.onlyusers {
    overflow-y: scroll;
    width: 100%;
    height: 105%;
}

hr {
    color: #c56f55;
}

.profile-list {
    /* width: 30%; */
    float: left;
    height: 75vh;
    /* overflow-y: scroll; */
}

.profile-container {
    height: 65vh;
}

#profile {
    font-family: 'Urbanist', sans-serif;
    color: var(--color-darkOrange);
}

.col-md-8 {
    width: 75%;
    float: left;
    /* border: 1px solid rgb(115, 179, 223); */
    border-right: 1px solid var(--color-white);
    height: 50%;
}

.col-12 {
    display: flex;
    align-items: center;
}

.sendIcon {
    color: var(--color-darkOrange);
    margin-left: 20px;
    border-radius: 20%;
    border: 1px solid var(--color-darkOrange);
    font-size: 1px;
    padding-right: 1px;
}


/* .send {
    color: var(--color-white);
    background-color: rgb(42, 59, 212);
    border-radius: 50%;
    padding: 4px;
    margin: 0 7px;
    width: 3%;
    height: 3%;
} */

#msg-input {
    background-color: rgb(231, 225, 225);
    padding-left: 23px;
    margin-top: 0;
}