:root {
    --color-white: #fff;
    --color-darkOrange: #ff5622e1;
    --color-black: #000;
}

.HomePage {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content h2 {
    text-align: left;
    text-align: center;
    margin-top: 10%;
    color: var(--color-black);
}