/* .k{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
} */

.kwrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.kwrapper .kleft{
    width: 35%;
    background: linear-gradient(to right, #ff5700, #fff);
    padding: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.kwrapper .kleft img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 250px;
}

.kwrapper .kleft h4{
    margin-bottom: 10px;
}

.kwrapper .kleft p{
    font-size: 12px;
}

.kwrapper .kright{
    width: 65%;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}

.kwrapper .kright .kinfo h3,
.kwrapper .kright .kprojects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}